# Dependency directories
node_modules/
jspm_packages/

# dotenv environment variables file
.env

# bundled folder
dist

# Mac files
.DS_Store

# Bower dependency directory (https://bower.io/)
bower_components

# Coverage directory used by jest
coverage